.description{
	cursor:default;
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(33, 33, 33, 0.4);
	width: 100vw;
	height: 100vh;
	color:#000;
	&-popup{
		position: absolute;
		top: 20%;
		min-height: 500px;
		left: 50%;
		transform: translateX(-50%);
		width: 400px;
		background: #c3c3c3;
		box-shadow: 5px 5px 40px #0a1928;
		color:#fff;
		border-radius: 15px;
		padding: 10px 10px 0 10px;
		
	}
}
.block-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.cross{
		padding: 5px;
		width: 20px;
		height: 20px;
		&:hover{
			cursor: pointer;
			background-color: #2b3b83;
			border-radius: 20px;
		}
	}
	span{
		display: block;
		text-align: left;
		padding-right: 20px;
		font-size: 20px;
		font-weight: 600;
		color:#000;
		word-break:break-all ;
	}
}
.block-description{
	margin-top: 20px;
	textarea{
		background: #fff;
		width: 95%;
		min-height: 45px;
		resize:none;
		border: none;
		border-radius: 5px;
		overflow: hidden;
		font-size: 14px;
		font-weight: 600;
		padding: 3px 6px 5px 6px;
	}
}


.block-message{
	margin-top: 25px;
	.comment{
		color:#000;
		font-size: 18px;
		font-weight: 600;
	}
	.message{
		margin-top: 10px;
	}
}


